.nav_bar_app_menu_image {
	background-image: url("../images/nathan-dumlao-ewGMqs2tmJI-unsplash_cropped.jpg") !important;
	background-size: cover !important;
}
.nav_bar_org_menu_image {
	background-image: url("../images/nathan-dumlao-ewGMqs2tmJI-unsplash_cropped.jpg") !important;
	background-size: cover !important;
}

.access_header {
	padding-top: 20px !important;
	padding-left: 10px !important;
}